<p>
  <strong>Titulo:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Editar', edit_comment_path(@comment) %> |
<%= link_to 'Atras', comments_path %>
