<h1 style="text-align:left; padding-top:10px; padding-left:10px;">Edición de Post</h1>

<%= render 'form' %>


<p style="text-align:left; padding-top:10px; padding-left:10px;">
<%= link_to 'Mostrar', @post %> |
<%= link_to 'Atras', posts_path %>
</p>