

<h1>Posts</h1>

<table class="magines">
  <thead>
    <tr>

    <% if admin_signed_in? %> 
      <th>Titulo</th>
      <th>Texto</th>
      <th>Autor</th>
      <th colspan="3"></th>
     <% end %>

    <% if user_signed_in? %> 
      <th>Titulo</th>
      <th>Texto</th>
      <th colspan="3"></th>
     <% end %>

    </tr>
  </thead>

  <tbody>
    
    <% @posts.each do |post| %>
    
      <tr>
      
        <td ><%= post.title %></td>
        <td  >
          <% if post.body %>
          <a href="#" data-reveal-id="asesoria-<%= post.id %>">Ver post</a>
          <div id="asesoria-<%= post.id %>"class="reveal-modal"data-reveal  >
            <%=post.body %>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% end %>
            </td>
           <% if admin_signed_in? %>
            <td><%=User.find(post.user_id).email%></td>
          <%end%>
        <td><%= link_to 'Mostrar', post %></td>
        <td><%= link_to 'Editar', edit_post_path(post) %></td>
        <td><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      
  </tbody>
</table>
<br>

<% if admin_signed_in? %>
  <p style="text-align: center;">Bienvenido Administrador</p>
<% end %>

<% if user_signed_in? %>
<div style="text-align: center;">
<%= link_to 'Nuevo Post', new_post_path, :class => 'button success small radius' %>
</div>
<% end %>
